*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dbnavigator.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
p.api.properties
*.api.properties
/.kotlin/errors/*
/api.properties
/.kotlin/sessions/kotlin-compiler-1917471832505377064.salive
